# artifacts
__pycache__
.pytest*
*.egg-info
build/
*/build/*
*/dist/*


# misc
.coverage
.vscode
.claude
coverage.xml
enforce_branch_protection.sh

# Home Assistant configuration
config/*
!config/configuration.yaml